.inputfield {
  margin-top: 1rem;
}

.listpage{
  margin-top: 2rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.form {
  width: 30%;
  height: 100%;
  text-align: center;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 2px 5px 0px 0px rgb(175, 173, 173);
  background-color: rgb(206, 201, 201);
}
.register {
  text-align: center;
  margin-top: 2rem;
}
